{#<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal{{ app.id }}">+</button>#}
{#<form action="/trash" method="post">#}
    {#<input type="hidden" name="app_id" value="{{ app.id }}">#}
    {#<button type="submit" class="btn btn-link" data-toggle="modal" data-target="#modal{{ app.id }}"><p#}
                {#class="emoji emoji1f525"></p></button>#}
{#</form>#}
<a href="trash?app_id={{ app.id }}">
    {#<p class="emoji emoji1f525"></p>#}
    <p class="emoji emoji1f4a9"></p>
    {#<p class="emoji emoji267b"></p>#}
</a>