<div class="form-group col-3">
    <input type="text" class="form-control" name="create_from" id="create_from"
           placeholder="Дата создания ОТ" value="{{ request.create_from }}"
           autocomplete="off">
</div>
<div class="form-group col-3">
    <input type="text" class="form-control" name="create_to" id="create_to"
           placeholder="Дата создания ДО" value="{{ request.create_to }}"
           autocomplete="off">
</div>
<div class="form-group col-3">
    <input type="text" class="form-control" name="update_from" id="update_from"
           placeholder="Дата обработки ОТ" value="{{ request.update_from }}"
           autocomplete="off">
</div>
<div class="form-group col-3">
    <input type="text" class="form-control" name="update_to" id="update_to"
           placeholder="Дата обработки ДО" value="{{ request.update_to }}"
           autocomplete="off">
</div>
