{#<button type="button" class="btn btn-link" data-toggle="collapse" href="#collapse{{ app.id }}" role="button" aria-expanded="false"  aria-controls="collapse{{ app.id }}">&#8659;</button>#}
{#<button type="button" class="btn btn-link comments_collaps" data-toggle="collapse" rel="collapse_{{ app.id }}">&#8659;</button>#}
<p class="emoji emoji23ec comments_collaps" data-toggle="collapse" rel="collapse_{{ app.id }}"></p>

{#<button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse"#}
        {#aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">&#8659;</button>#}
